*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: rgb(30, 29, 29);
  height: 100vh;
  color: rgb(255, 255, 255);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  background-color: #212020;
  overflow-x: hidden;
}

#waveform {
  width: 50%;
  max-width: 100%;
  color: #fff;
}

.controls {
  margin-top: 10px;
}

.controls button {
  margin: 1px;
  border: 1px solid #ccc !important;
}

.controls button:hover {
  background-color: #ececec;
}

audio-info {
  margin-top: 15px;
  color:
    #fff;
  border-radius: 4px;
  padding: 8px 15px;
  display: inline-block;
  font-size: 12px;
}
